<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>

<body>
    <style>
        /* Add this CSS code inside the head section */
        body {
            font-size: 0.8em;
            /* Adjust the value as needed */
        }
    </style>
    <div class="wrapper">
        <header>
            <h1><a href="https://youtu.be/dQw4w9WgXcQ?t=84?autoplay=1">{{ site.title | default:
                    site.gitlab.repository_name }}</a></h1>

            <p>{{ site.description | default: site.gitlab.project_tagline }}</p>

            <p><small><a href="{{ site.gitlab_project }}">View this Project on GitLab</a></small></p>

        </header>
        <section>

            {{ content }}

        </section>
        <footer>

            <p><small>Hosted on GitLab Pages &mdash; Theme by <a href="https://gitlab.com/reedbndr">Reed
                        Bender</a></small></p>

        </footer>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var links = document.getElementsByTagName('a');
            for (var i = 0; i < links.length; i++) {
                links[i].setAttribute('target', '_blank');
            }
        });
    </script>
</body>

</html>